npm install lodash
npm install react-chartjs-2 chart.js
npm install @mui/material @emotion/react @emotion/styled axios react-router-dom
npm install @mui/icons-material
npm install styled-components
npm install react-infinite-scroll-component
npm install axios
npm install bootstrap
npm install react-bootstrap bootstrap
npm install react-router-dom
npm install react-router-bootstrap
npm install react-resizable       
npm install react-table   