/* GroupPin.css */
.group-pin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* Отступ от навбара */
}

.group-pin-form {
    display: flex;
    gap: 30px; /* Отступ между формами */
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    margin-bottom: 20px; /* Отступ между формами и кнопкой */
}

.form-section {
    flex: 1;
    min-width: 300px;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
    background-color: #f9f9f9;
}

.form-section h2 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.suggestions-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.suggestions-list li {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px;
    cursor: pointer;
    background-color: #fff;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

.submit-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button:disabled {
    background-color: #d6d6d6;
    cursor: not-allowed;
}

.suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    background-color: white;
    z-index: 1000;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestions-list li {
    padding: 8px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f0f0f0;
}

/* Spinner Styles */
.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Занимает всю высоту экрана */
}

.spinner {
    border: 8px solid #f3f3f3; /* Светлый цвет для рамки */
    border-top: 8px solid #3498db; /* Цвет вращающейся части */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}