body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    /* Отступ сверху под фиксированный Navbar */
    display: block;
    padding-top: 56px;
}

.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.light-mode {
    background-color: #f4f4f4;
    color: #333333;
}

.footer-custom {
    background-color: #212529;
    color: #ffffff;
    padding: 20px 0;
}

.footer-col {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #343a40;
}

.navbar-custom .nav-link {
    color: #ffffff;
}

.navbar-custom .nav-link:hover {
    color: #dddddd;
}

.navbar-custom .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-custom .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-collapse {
    flex-grow: 1;
    justify-content: space-between;
}

.navbar-custom .ml-auto {
    margin-left: auto;
}

.navbar-custom .active .nav-link {
    color: #ffffff;
    font-weight: bold;
}
